@model List<TestApplication.Models.FormData>

@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Age</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>